.sticky {
  display: block;
}

.single,
.page {
  margin: 0;
}

body.page,
body.post,
body.single {
  padding-top: var(--header-height);
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
