@use "sass:list";

.sticky {
  display: block;
}

.single,
.page {
  margin: 0;
}

body.page,
body.post,
body.single {
  padding-top: var(--header-height);
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.bl-hero {
  margin: 0 calc(var(--content-padding) * -1);
  width: vw(100);
  padding: 0 var(--content-padding);
  justify-content: center;

  &.wp-block-cover.bl-as-pill .wp-block-cover__inner-container {
    background-color: #fffffff6;
    border-radius: 10px;
    width: 100%;
    padding: 4vh 6vw;
    margin: 2em 0;

    @include m-media(sm) {
      width: 80%;
      padding: 4vh 4vw;
    }

    @include m-media(md) {
      width: 60%;
      padding: 3vw 4vw;
    }

    @for $i from 1 through 5 {
      h#{$i}:first-child {
        margin-top: 0px;
        padding-bottom: 0px;
      }

      h#{$i}:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      p:first-child {
        margin-top: 0px;
        padding-top: 0px;
      }

      p:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }
  }
}

.bl-flex {
  display: flex;
}

.bl-flex-column {
  flex-direction: column;
}

.bl-flex-centered {
  justify-content: center;
  align-items: center;
}

.bl-content-start {
  justify-content: flex-start;
}

.bl-content-center {
  justify-content: center;
}

.bl-content-end {
  justify-content: flex-end;
}

.bl-align-start {
  align-items: flex-start;
}

.bl-align-center {
  align-items: center;
}

.bl-align-end {
  align-items: flex-end;
}

@for $i from 1 through 10 {
  .bl-padding-#{$i} {
    padding: $i + em;
  }

  @for $j from 1 through 10 {
    .bl-padding-#{$i}-#{$j} {
      padding: $i + em $j + em;
    }
  }
}

.bl-top-anchored {
  position: relative;
  top: calc(var(--header-height) * -1);
  display: block;
  height: 0px;
  width: 0px;

  .admin-bar & {
    top: calc(calc(var(--header-height) + var(--wp-admin--admin-bar--height)) * -1);
  }
}

.bl-rounded {
  border-radius: 50%;
}

@for $i from 1 through 10 {
  .bl-border-#{$i} {
    border-style: solid;
    border-width: $i + px;
  }
}

@for $i from 1 through 10 {
  .bl-radius-#{$i} {
    border-radius: $i + px;
  }
}

@for $x from 0 through 10 {
  @for $y from 0 through 10 {
    @for $s from 0 through 10 {
      .bl-shadow-#{$x}-#{$y}-#{$s} {
        box-shadow: $x + px $y + px $s + px #0003;
      }
    }
  }
}

$colors: green, gray, black, white;
$hex: #6f9984, #f2f2f2, #333333, #ffffff;

@for $i from 1 to 5 {
  $color: nth($colors, $i);
  .bl-color-#{$color} {
    color: nth($hex, $i);
  }
}

@for $i from 1 to 10 {
  .bl-opacity-#{$i} {
    opacity: $i * 0.1;
  }
}
