.wp-block-embed {
  .bl-iframe-size {
    position: relative;
    padding-bottom: unquote("min(66.5%, 70vh)");
    width: 100%;

    .bl-iframe-responsive {
      position: absolute;
      left: 0px;
      top: 0px;
      right: auto;
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }
}
