html,
body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 18px;
  line-height: $font__line-height-body;
  @media screen and (max-width: 640px) {
    font-size: 12px;
  }
}
@import "headings";
@import "copy";
