:root {
  --content-padding: 15vw;
  --header-height: 50px;
}

@media (min-width: 640px) {
  :root {
    --content-padding: 12vw;
    --header-height: 75px;
  }
}

@media (min-width: 769px) {
  :root {
    --content-padding: 10vw;
  }
}
