.contact-header {
  padding: 4vh var(--content-padding);
  display: flex;
  justify-content: flex-start;
  background-color: $color__bikelogic-black;
}

.contact-header__column {
  color: white;
  h1,
  h2 {
    margin: 0px;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  h2 {
    font-weight: 400;
  }
}

.contact-content {
  display: block;
  background-color: white;
  padding: 4rem var(--content-padding);
}
form {
  margin: auto;
  clear: both;
  width: fit-content;
}
p {
  margin-bottom: 1.2em;
}
.form-serveis-selector {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.4em 1em 0.4em;
  color: white;
  background-color: $color__bikelogic-green;
  font-weight: 800;
  margin: 0.4em 0em;
}
.form-serveis-entry {
  border: 1px solid #ccc;
  border-radius: 10px;
}
textarea {
  resize: none;
}
label {
  font-weight: 800;
}
