.contact-header {
  padding: 4vh var(--content-padding);
  display: flex;
  justify-content: center;
}

.contact-header__column {
  h1,
  h2 {
    margin: 0px;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  h2 {
    font-weight: 400;
  }
}

.contact-content {
  display: block;
  background-color: white;
  padding: 0 var(--content-padding) 4rem;

  .wpcf7-form {
    .your-consent .wpcf7-list-item {
      margin: 0px;
    }

    p {
      margin-bottom: 1.2em;
    }

    textarea {
      resize: none;
    }

    input[type="submit"] {
      margin-top: 0.9rem;
    }

    .fx-relay-email-input-wrapper {
      z-index: 500;
    }
  }
}
