@import "../base/variables/layout";

.front-page__section {
  padding: 2vh var(--content-padding);
  background-color: white;

  &.parallax-window {
    background-color: transparent;
    position: relative;
  }

  &#cover {
    padding: 0 var(--content-padding);
    position: relative;
  }
}

#cover {
  .front-page__cover-image {
    max-width: 100vw;
    max-height: calc(100vh - #{$mobile-header-height});
    width: calc(var(--vw, 1vw) * 100);
    margin: 0 calc(var(--content-padding) * -1);
    object-fit: cover;

    @include m-media(sm) {
      max-height: calc(100vh - #{$header-height});
    }
  }

  .front-page__site-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 var(--content-padding);
    font-size: 1.4rem;
    line-height: 1.2;

    @include m-media(sm) {
      font-size: 1.8rem;
      line-height: 1.4;
    }

    img {
      object-fit: contain;
      width: vw(50);
      height: 15%;
      margin-bottom: 0.5rem;
      margin-top: -2rem;
    }
  }
}

/*SERVICES*/
#services {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 95%;
  background-position-y: center;

  @include m-media(sm) {
    background-size: 50%;
  }

  @include m-media(md) {
    background-size: 30%;
  }

  @include m-media(xlg) {
    background-size: 20%;
  }
}

.front-page__service {
  padding: 2rem vw(6);
  height: 160px;
  margin: 2rem 0;
  background-color: #f2f2f2;
  box-shadow: 1px 4px 5px #0002;
  border-radius: 10px;
  transition: box-shadow 200ms ease-in, transform 200ms ease-in;

  &:hover {
    box-shadow: 4px 6px 10px #0002;
    transform: translate(-3px, -3px);

    .service-button {
      text-decoration: underline;
    }
  }

  a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #333333;
  }

  @include m-media(sm) {
    margin: 1rem 0;
    padding: 1rem vw(3);
  }
}

.front-page__service-content {
  display: flex;
  height: 100%;

  img {
    height: calc(160px - 2rem);
    width: calc(160px - 2rem);
    object-fit: contain;
    object-position: center;
  }
}

.service-info {
  display: flex;
  flex-direction: column;

  &.right {
    padding-left: 40px;
    flex: 3;
    align-items: flex-start;
    position: relative;

    > p {
      margin: 0;
    }

    @include m-media(zr, sm) {
      flex: 2;
      padding-left: 20px;
    }

    .service-button {
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin-left: auto;
      background-color: transparent;
      border: none;
      color: #3743b2;
      font-weight: 800;
      padding: 0;
      cursor: pointer;
      text-align: center;
      right: 0;
    }

    h3 {
      margin: 0;
    }
  }

  &.left {
    align-items: center;
    flex: 1;
    justify-content: center;
  }
}

//VALORS//

.front-page__parallax-background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

.front-page__parallax-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw - --content-padding);
  padding: 2vh 2vw;
  background-color: #ffffff;
  border-radius: 10px;
  height: auto;
  margin: 5vh 0;
  @include m-media(zr, xsm) {
    padding: 2vh 4vw;
  }

  button {
    font-weight: 800;
    margin-bottom: 1.5em;
    align-self: center;
    cursor: pointer;
  }
}
.parallax-overlay__text {
  padding-top: 1.5em;
  > p {
    margin: 0;
  }
}

.parallax-overlay__items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 100px;
    height: auto;
  }
  @include m-media(zr, xsm) {
    flex-direction: column;
    margin-top: 1.5em;
  }
}
.items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.valor2 {
    padding-top: 48px;
  }
  @include m-media(zr, xsm) {
    &.valor2 {
      padding-top: 0px;
    }
  }
}
