button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-radius: 3px;
  background: #333333;
  color: white;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  width: fit-content;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}
