@import "../../base/variables/layout";

.site-header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1rem $content-padding-h;
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(var(--vw, 1vw) * 100);
  z-index: 100;
  box-shadow: 0px 2px 5px #0002;

  .admin-bar & {
    top: 32px;
  }
}

.custom-logo {
  width: 120px;
  height: auto;
}
